# Ignore script-generated PNG files
*.png
*.npy
*.xlsx

# Ignore COMSOL-generated electrochem csv files
*.csv

# Ignore JSON specified user settings
*.json

# Ignore MacOS files
*.DS_STORE

*__pycache__

*README.txt

# Ignore Jupyter Notebook stuff
*.ipynb*

*.keras

_old_datasets